[user]
        name = EXAMPLE
        email = EXAMPLE@EXAMPLE.com
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -terys
        dump = cat-file -pmail.com
        latest = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'  
